---
title: My page
layout: pdf
---

<div class="row justify-content-center">
  <div class="col-lg-8 col-md-10 col-12">
    <div class="row">
      <div class="col-12 my-4">
        <div class="px-2 px-md-0">
          {% include content.html %}
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="px-2 ps-sm-0">
          {% include left_half.html %}
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="px-2 pe-sm-0">
          {% include right_half.html %}
        </div>
      </div>
    </div>
  </div>
</div>
