<h1 class="mb-3 text-primary">Work Experience</h1>

<h6 class="mb-0 pb-1 text-info">Nov 2021 - today<span class="float-end">Lisbon, Portugal</span></h6>
<h2 class="mb-1">FullStack Senior Developer</h2>
<div class="divider"></div>
<h5>Lisbon Nearshore @ ADVARRA</h5>
<p class="mb-5">Working for ADVARRA as a contractor through Lisbon Nearshore.<br/>
Helping improve one of its projects, using Ruby on Rails in one end and VueJS on the other.</p>

<h6 class="mb-0 pb-1 text-info">Dec 2020 - Dec 2021  (1yr)<span class="float-end">Tokyo, Japan / Lisbon, Portugal</span></h6>
<h2 class="mb-1">Web HandyMan</h2>
<div class="divider"></div>
<h5>My own projects</h5>
<p class="mb-5">Been working with two talented friends from London, using all aquired skills in order to make our mobile apps successful.<br/>This work ranges from back/front-end development, to testing, to devops, to designing solutions that will later on have to scale, or to find the best compromise between cost/performance given the maturity of the project at hand.</p>

<h6 class="mb-0 pb-1 text-info">Dec 2018 - Dec 2020 (2yrs 1mo)<span class="float-end">Lisbon, Portugal</span></h6>
<h2 class="mb-1">Senior software engineer</h2>
<div class="divider"></div>
<h5>Streetbees</h5>
<p class="mb-5">Back to the company I helped grow.</p>

<h6 class="mb-0 pb-1 text-info">Jan 2018 - July 2018 (7mos)<span class="float-end">Tokyo, Japan</span></h6>
<h2 class="mb-1">Chief Technical Officer</h2>
<div class="divider"></div>
<h5>Zens</h5>
<p class="mb-5">Helped establish SCRUM methodology that allowed the internal and remote teams work together.
  <br />
  Managed daily, retrospective and spring planning meetings. <br />
  Assisted the CEO in risk assessment regarding what technologies and services to use according to changes in the
  business plan. <br />
  Reviewed Pull Requests and guided my young interns while doing the usuall work that full stack engineers would do.
</p>

<div class="page_break"></div>

<h6 class="mb-0 pb-1 text-info">May 2017 - July 2017 (3mos)<span class="float-end">Tokyo, Japan</span></h6>
<h2 class="mb-1">Chief Technical Officer</h2>
<div class="divider"></div>
<h5>Motivo</h5>
<p class="mb-5">Senior Ruby on Rails developer in charge the product's technological implementation and
  direction. <br />
  Frequent meetings with the SEO where in order, in order to fine tune what he really wanted to achieve and how we
  can do it within proper timing.</p>

<h6 class="mb-0 pb-1 text-info">Mar 2016 - Feb 2017 (1yr)<span class="float-end">London, UK</span></h6>
<h2 class="mb-1">Lead web developer</h2>
<div class="divider"></div>
<h5>Streetbees</h5>
<p class="mb-5">Ruby, Rails, Sinatra, React, Angular and whatever comes along developer.<br />
  Helped redesign the (at the time) current Angular RoR app into a React RoR dynamic system that allow the creation
  of different dashboards according to the data that was needed to be displayed.</p>

<h6 class="mb-0 pb-1 text-info">Jan 2013 - Feb 2016 (3yrs 2mos)<span class="float-end">Lisboa, Portugal</span></h6>
<h2 class="mb-1">Senior software engineer</h2>
<div class="divider"></div>
<h5>Linkedcare</h5>
<p class="mb-5">FullStack developer (Ruby on Rails, React, Angular, Sass, Postgres, Redis, MongoDB,
  ElasticSearch).<br />
  Team leader even though we weren't coworkers and I wasn't the team leader, we where friends, period.<br />
  This was the biggest team I ever worked so far, and one I had the most fun with.</p>

<h6 class="mb-0 pb-1 text-info">Nov 2011 - Jan 2013 (1yr 3mos)<span class="float-end">Lisboa, Portugal</span></h6>
<h2 class="mb-1">Ruby on Rails Developer</h2>
<div class="divider"></div>
<h5>Outitude</h5>
<p class="mb-5">FullStack developer (Ruby on Rails, jQuery, CSS, Postgres, Redis, ElasticSearch).<br />
  My first startup and my first taste of what it means to work in a startup. You work hard at the beginning and even
  harder at the end but it doesn't matter it's your baby and you do what it needs to be done.</p>

<h6 class="mb-0 pb-1 text-info">Apr 2011 - Oct 2011 (7mos)<span class="float-end">Lisboa, Portugal</span></h6>
<h2 class="mb-1">Junior RoR Developer</h2>
<div class="divider"></div>
<h5>Rupeal</h5>
<p class="mb-5">FullStack developer (Ruby on Rails, jQuery, CSS, MySQL).<br />
  Built and designed from scratch a web platform that manages hosting and promoting events, schedules promoters to
  those events, gathers the promoters' reports and performs statistic reports with the overall data.</p>

<h6 class="mb-0 pb-1 text-info">2007 - 2011 (4yrs)<span class="float-end">Lisboa, Portugal</span></h6>
<h2 class="mb-1">PHP Developer</h2>
<div class="divider"></div>
<h5>Parkour Portugal</h5>
<p class="mb-5">FullStack developer (PHP, jQuery, CSS, MySQL, Wordpress).</p>
