<h1 class="mb-3 text-primary">Education</h1>
<p class="mb-5">Bachelor (2002-2007) and Master's (2007-2010) degree in Computer Systems Networking and
  Telecommunications at Instituto Superior Ténico (Lisbon, Portugal)</p>

<h1 class="mb-3 text-primary">Tech Stack</h1>
<ul class="mb-5">
  <li>Product & Management: jira, notion, slack, figma, storybook</li>
  <li>Frontend: Vue, React, Vanilla JS, htmlx, hotwire turbo, inertiajs, bootstrap, tailwind, picocss</li>
  <li>Backend: ruby (rails, sinatra, rubygems), node/typescript (nestJS, expressJS, vitepress, astro, bun, deno, vite, npmjs), rust (actix)</li>
  <li>Infrastructure: ansible, docker, digital ocean, render, hetzner, vercel, AWS, imgIX</li>
  <li>Databases: PostgreSQL, Redis, mongoDB, ElasticSearch</li>
  <li>Desktop: electronjs</li>
  <li>Workflow: github actions, kamal, circleCI, blacksmith, copilot PR reviews, sentry</li>
  <li>Format and Linting: rubocop, eslint, prettier, clippy</li>
  <li>Testing: minitest, rspec, simplecov, vcr, jest, mocha, node:bun:test, vitest, playwright</li>
  <li>AI agents: copilot, opencode, hermes</li>
</ul>
