<h1 class="mb-3 text-primary">Skills & Competences</h1>
<p class="mb-5">Ruby (Rails, Sinatra, Gems) | Javascript (node, Vue, React+Redux, Angular, jQuery, Vanilla) |
  HTML | CSS (Sass) | PHP | Postgres | MySQL | GIT | RSPEC | AWS | SCRUM</p>

<h1 class="mb-3 text-primary">Languages</h1>
<p class="mb-5">Portuguese (Native) | English (Fluent) | Japanese (Still learning)</p>

<h1 class="mb-3 text-primary">Interests</h1>
<p class="mb-5">Bass Guitar | Piano | Parkour | Meditation | DownHill | Motorcycles
  | Go | Cinema/Video | Hand Drawing | Dance | PermaCulture | Sustainable Energies</p>

<h1 class="mb-3 text-primary">Articles</h1>
<ul class="mb-4 pb-3">
  <li><a href="https://medium.com/@goncalvesjoao/rails-devise-jwt-and-the-forgotten-warden-67cfcf8a0b73"
    target="_blank">Rails, Devise, JWT and the forgotten Warden</a></li>
  <li><a href="https://medium.com/@goncalvesjoao/react-es7-decorators-how-to-inject-props-to-your-render-method-27a0a7973106"
    target="_blank">React + ES7 decorators, how to inject props to your render method</a></li>
  <li><a href="https://medium.com/@goncalvesjoao/rails-special-route-for-single-page-applications-de9e6bf32199"
    target="_blank">Rails special route for single page applications</a></li>
  <li><a href="https://medium.com/@goncalvesjoao/how-to-have-a-working-health-endpoint-while-rails-is-500ring-509efc1da42c"
    target="_blank">How to have a working ‘/health’ endpoint while Rails is 500ring</a></li>
  <li><a href="https://medium.com/@goncalvesjoao/keep-your-kitchen-clean-e39d692f8015"
    target="_blank">Keep your kitchen clean</a></li>
</ul>
