<h1 class="mb-3 text-primary">Skills & Competences</h1>
<p class="mb-5">Ruby (Rails, Sinatra, rubygems, rspec, minitest) | Javascript (node, npmjs, Vue, React, Vite, bun, deno, nestJS) |
  HTML | CSS | Playwright | Storybook | PostgreSQL | git | worktrunk | AWS | SCRUM | Jira</p>

<h1 class="mb-3 text-primary">Languages</h1>
<p class="mb-5">Portuguese (Native) | English (Fluent) | Japanese (Still learning)</p>

<h1 class="mb-3 text-primary">Interests</h1>
<p class="mb-5">Bass Guitar | Piano | Meditation | Mountain Bikes | Motorcycles | DIY | Cinema</p>
