<h1 class="mb-3 text-highlight">Education</h1>
<p class="mb-5">Bachelor (2002-2007) and Master’s (2007-2010) degree in Computer Systems Networking and
  Telecommunications at Instituto Superior Ténico (Lisbon, Portugal)</p>

<h1 class="mb-3 text-highlight">Open source projects</h1>
<h2 class="mb-0 pb-3">Relpers</h2>
<p class="mb-5">Nodejs package, with a group of small React Helpers that help you reduce your React
  boilerplate</p>

<h2 class="mb-0 pb-3">RestMyCase</h2>
<p class="mb-5">Light Ruby implementation of "The Clean Architecture" use case.</p>

<h2 class="mb-0 pb-3">ObjectAttorney</h2>
<p class="mb-5">Ruby gem that allows you to create Classes (agnostic to you model) with ActiveModel
  validations and keep your model clean.</p>

<h2 class="mb-0 pb-3">SmoothOperator</h2>
<p class="mb-5">Ruby gem, that mimics the ActiveRecord behaviour but through HTTP calls to external APIs.</p>
