body {
	color: #8c8c8c;
	background-color: #333333;
}

h1,h2,h3,h4,h5,h6 {
	color: #e3e3e3;
}

b {
	color: #c9c9c9;
}

a {
	color: #e05f1c;
}

a:hover {
	color: #f07a39;
	border-bottom: 1px dotted #616161;
	text-decoration: none;
}

body > header {
	background-color: #2e2e2e;
	border-bottom: 10px solid #454545;
}

body > article {
	background-color: #1c1c1c;
	padding-bottom: 40px;
	border-bottom: 1px solid #353535;
	text-align: justify;
}

body > article section {
	margin-top: 40px;
}

body > footer {
	padding-top: 40px;
	padding-bottom: 15px;
	color: #c6c6c6;
}

#footer_menu {
	margin-top: 30px;
	color: #7d7d7d;
}

#footer_menu h4 {

}

#footer_menu ul {
	list-style: none;
	margin-left: 10px;
}

#footer_menu ul li span {
	font-size: 1.2em;
}

#footer_menu ul a.selected {
	color: #989898;
}

.didnt_work {
	float: right;
	font-size: 0.85em;
	display: block;
}

.popover-inner h3 {
	color: #636363;
}

.subcommand_line {
	display: none;
}

.avatar {
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	width: 100px;
	float: left;
	-moz-box-shadow: 0 0 3px #151515;
	-webkit-box-shadow: 0 0 3px #151515;
	box-shadow: 0 0 3px #151515;
	margin: 0 20px 0 0;
}

.CodeMirror {
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 5px;
	padding: 0 5px;
	background: #222222;
	margin-top: 2px;
}

.CodeMirror:hover {
	background-color: #353535;
}

.CodeMirror-scroll {
	height: auto;
	overflow-y: hidden;
	overflow-x: auto;
}
