body {
	color: #808080;
	font-size: 15px;
	line-height: 21px;
}

h1,h2,h3,h4,h5,h6 {
	color: #dddddd;
}

h3 {
	color: #c3c3c3;
}

b {
	color: #bbbbbb;
}

a b {
	color: #006395;
	font-weight: bold;
}

a:hover {
	text-shadow: none;
	color: #00a7fa;
	text-decoration: none;
	border-bottom: 1px dotted #4b4b4b;
}

body > header {
	background-color: #2e2e2e;
	border-bottom: 10px solid #454545;
}

body > article {
	background-color: #1c1c1c;
	padding-bottom: 40px;
	border-bottom: 1px solid #353535;
	text-align: justify;
}

body > article > div > section {
	margin-top: 55px;
}

body > footer {
	padding-top: 40px;
	padding-bottom: 15px;
}

#footer_menu {
	margin-top: 30px;
	font-size: 14px;
}

#footer_menu h4 {
	color: #808080;
}

#footer_menu ul {
	list-style: none;
	margin-left: 10px;
}

#footer_menu ul li span {
	font-size: 1.2em;
}

#footer_menu ul a.selected,
ul.my_links a.selected {
	color: #989898;
}

.popover-inner h3 {
	color: #636363;
}

.popover-inner b {
	color: #606060;
}

.instructions {
    display: table-cell;
    vertical-align: middle;
}

.avatar {
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	width: 105px;
	float: left;
	-moz-box-shadow: 0 0 3px #151515;
	-webkit-box-shadow: 0 0 3px #151515;
	box-shadow: 0 0 3px #151515;
	margin: 0 20px 0 0;
}

ul.my_links {
	border-left: 1px dashed #c5c5c5;
	padding-left: 20px;
	font-size: 14px;
	margin-left: 5px;
	
	list-style: none;
}

ul.my_links li {
	line-height: 18px;
}

ul.gem_list {
	color: #bbbbbb;
	list-style: none;
	margin-left: 15px;
}

ul.gem_list li {
	width: 100%;
	border-bottom: 1px dashed #343434;
	margin-bottom: 15px;
}

ul.gem_list span.cast {
	color: #c09853;
}

ul.gem_list li a.railscasts {
	color: #bbbbbb;
	float: right;
}

ul.gem_list li a:hover {
	border-bottom-style: none;
}

ul.gem_list li a.railscasts:hover {
	color: #919191;
}

.local_icon,
.remote_icon {
	float: left;
	width:40px;
	height:40px;
	margin-right: 15px;
}

.local_icon {
	position: relative;
	top: -5px;
}

.CodeMirror {
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 5px;
	padding: 0 5px;
	margin-top: 2px;
	background-color: #2e2e2e;
}

.CodeMirror:hover {
	background-color: #393939;
}

.CodeMirror-scroll {
	height: auto;
	overflow-y: hidden;
	overflow-x: auto;
}
