body > header {
	background-color: #2e2e2e;
	border-bottom: 10px solid #454545;
}

body > article {
	background-color: #1c1c1c;
	padding-bottom: 40px;
	border-bottom: 1px solid #353535;
}

body > footer {
	padding-top: 40px;
	padding-bottom: 15px;
}

.CodeMirror {
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 5px;
	padding: 0 5px;
	background: #222222;
	margin-top: 2px;
}

.CodeMirror:hover {
	background-color: #353535;
}

.CodeMirror-scroll {
	height: auto;
	overflow-y: hidden;
	overflow-x: auto;
}
