---
---

body {
  color:#373737;
  font-family: 'Myriad Pro', 'Calibri', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
	text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
  color:#222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
  font-weight: 700;
}

h2 {
  background: url('/assets/images/bg_hr.png') repeat-x bottom;
}

a {
  text-decoration: none;
  color: #232323;
  text-shadow: none;
}

a:hover, a:focus {
  color: #232323;
  text-decoration: underline;
}

header {
  background: #212121;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121);

  h2 {
    font-size: 18px;
    line-height: 1.4;
    font-weight: 300;
    background: none;
  }
}

article {
  h1 {
    font-size: calc(1.357rem + 0.9vw);
  }

  h6 {
    font-size: 0.9rem;
  }
}

.text-shadow {
  text-shadow: #111 0px 0px 10px;
}

.text-highlight {
  color: rgb(38, 108, 191);
}

.text-highlight-secondary {
  color: rgb(114, 159, 207);
}

.bg-gray-light {
  background-color: #f2f2f2;
}

#contacts {
  i {
    font-size: 1.1rem;
  }
}

@media (max-width: 576px) {
  #contacts {
    span {
      font-size: .875em;
    }
  }
}
