---
---

@import "bootstrap_5/bootstrap";

@import "common";

header {
  h2 {
    font-size: 17px;
    line-height: 1.4;
    font-weight: 300;
  }
}

.divider {
  background: none;
  border-top: 1px dashed #CECECE;
}