<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description" content="João Gonçalves - Played piano as a kid, did Parkour during college, later on switched to Bass and kept the parkour mentality.">

    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/style.css">

    <title>João Gonçalves CV</title>
  </head>

  <body>
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
      <header class="inner">
        <div id="profile" class="clearfix">
          <div id="title">
            <img src="/assets/images/profile_pic.jpg" id="profile_pic" />
            <h1>João Gonçalves</h1>
            <h3>FullStack WebDeveloper</h3>
          </div>

          <ul id="contacts">
            <li><a href="https://github.com/goncalvesjoao" target="_blank"><i class="fa fa-github"></i>goncalvesjoao</a></li>
            <li><i class="fa fa-skype"></i>goncalves.joao</li>
            <li><a href="https://www.linkedin.com/in/goncalvesjoao83/" target="_blank"><i class="fa fa-linkedin"></i>goncalvesjoao83</a></li>
          </ul>
        </div>

        <div class="halfs_wrap clearfix">
          <h2 id="project_tagline">
            Played piano as a kid, did Parkour during college, later on switched to Bass and kept the parkour mentality. <br />
            Been developing for the web since 2007, went to London in 2016, moved to Tokyo this year.
          </h2>
        </div>
      </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>IT'S DANGEROUS TO GO<br/>ALONE! TAKE THIS.</p>
      </footer>
    </div>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
